<!DOCTYPE html>
<html>
<head>



</head>
<body>
    <center>
        <table border="1" width="500">
            <tr>
            <td colspan="2" align="center">Place to visit </td>
             <td colspan="2">Qingmai, Thailand</td><td></td>
            </tr>

            <tr>
            <td>Location:</td><td align="center">Qingmai</td>
            <td>Resort Name</td> <td>Wat Phuak Hong</td>
            </tr>
            
            <tr>
            <td colspan="2" align="center">More Information </td>
            <td colspan="2"><a href="https://www.renown-travel.com/temples/wat-phuak-hong.html">a temple in the old walled part of Chiang Mai town</a></td> 
            </tr>

            <tr>
                <td colspan="4"><img src="wat-phuak-hong.jpeg"></td>
            </tr>
            
       

            </table>
    </center>

</body>
</html>